{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center">
            <a href="#" class="js-previous-page btn btn-info"><< older</a>
            Browse blocks
            <a href="#" class="js-next-page btn btn-info disabled">newer >></a>
        </h1>
        <div class="table-responsive">
          <table class="table browse-blocks-table">
          <thead>
            <tr>
              <th>Height</th>
              <th>Age</th>
              <th>Transactions</th>
              <th>Total Sent</th>
              <th>Size (kB)</th>  
            </tr>
          </thead>
          <tbody>
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478999">478999</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45360.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478998">478998</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45310.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478997">478997</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45260.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478996">478996</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45210.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478995">478995</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45160.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478994">478994</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45110.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478993">478993</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45060.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478992">478992</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                45010.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478991">478991</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                44960.43670788 GAME
              </td>
              <td>
                189
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478990">478990</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                44910.43670788 GAME
              </td>
              <td>
                189
              </td>
            </tr>
            
            <tr class="browse-blocks-placeholder">
              <td>
                <a href="/blocks/478989">478989</a>
              </td>
              <td>
                2 years ago
              </td>
              <td>
                1
              </td>
              <td>
                44860.43670788 GAME
              </td>
              <td>
                205
              </td>
            </tr>

            <script type="text/template" class="js-block-template">
              <tr>
                <td>
                  <a href="/blocks/<%= height %>"><%= height %></a>
                </td>
                <td>
                  <%= age %>
                </td>
                <td>
                  <%= num_transactions %>
                </td>
                <td>
                  <%= total %> GAME
                </td>
                <td>
                  <%= size %>
                </td>
              </tr>
            </script>
        </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}