{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <h3 class="monospace jumbo-subtitle">Block halving in:</h3>
  <h2 class="js-countdown-timer monospace">
    <span class="days"></span>:<span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>:<span class="milliseconds"></span>
  </h2>
</div>
<h2>Latest blocks <small class="pull-right"><a href="{{ url_for('browse_blocks') }}">> Show more</a></small></h2>
<div class="table-responsive">
  <table class="table latest-blocks-table">
    <thead>
    <tr>
      <th>Height</th>
      <th>Age</th>
      <th>Transactions</th>
      <th>Total Sent</th>
      <th>Size (kB)</th>
    </tr>
    </thead>

    <tbody>
      <tr class="latest-blocks-placeholder">
        <td>
          <a href="/blocks/325999">325999</a>
        </td>
        <td>
          3 years ago
        </td>
        <td>
          4
        </td>
        <td>
          53049.355785409876 GAME
        </td>
        <td>
          16418
        </td>
      </tr>    
      <tr class="latest-blocks-placeholder">
        <td>
          <a href="/blocks/325998">325998</a>
        </td>
        <td>
          3 years ago
        </td>
        <td>
          1
        </td>
        <td>
          47695.49159601988 GAME
        </td>
        <td>
          205
        </td>
      </tr>
      <tr class="latest-blocks-placeholder">
        <td>
          <a href="/blocks/325997">325997</a>
        </td>
        <td>
          3 years ago
        </td>
        <td>
          1
        </td>
        <td>
          47645.49159601988 GAME
        </td>
        <td>
          205
        </td>
      </tr>
      <tr class="latest-blocks-placeholder">
        <td>
          <a href="/blocks/325996">325996</a>
        </td>
        <td>
          3 years ago
        </td>
        <td>
          1
        </td>
        <td>
          47595.49159601988 GAME
        </td>
        <td>
          205
        </td>
      </tr>
      <tr class="latest-blocks-placeholder">
        <td>
          <a href="/blocks/325995">325995</a>
        </td>
        <td>
          3 years ago
        </td>
        <td>
          1
        </td>
        <td>
          47545.49159601988 GAME
        </td>
        <td>
          205
        </td>
      <script type="text/template" class="js-block-template">
        <tr>
          <td>
            <a href="/blocks/<%= height %>"><%= height %></a>
          </td>
          <td>
            <%= age %>
          </td>
          <td>
            <%= num_transactions %>
          </td>
          <td>
            <%= total %> GAME
          </td>
          <td>
            <%= size %>
          </td>
        </tr>
      </script>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>New to GameCredits?</h2>
    <p>
      GameCredits is creating a new payment gateway for the gaming industry.
      There are a lot of challenges and limitations with current payment solutions and platforms in the gaming industry.
      We will provide gaming companies a very specific solution to make payments seamless, easy and secure.
      We will offer the gaming industry ways to pay less and make more.
      Our in game payment gateway is built for the gaming industry by the gaming industry.
    </p>
    <p>
      <a href="http://gamecredits.com" class="btn btn-primary">HOMEPAGE</a>
      <a href="http://wallet.gamecredits.com" class="btn btn-primary">WEB WALLET</a>
    </p>
  </div>
  <div class="col-md-6">
    <h2>Latest transactions</h2>
    <div class="table-responsive">
      <table class="table latest-transactions-table">
        <tr>
          <th>Transaction ID (Hash)</th>
          <th>Total Sent</th>
        </tr>
        
        <tr class="latest-transactions-placeholder">
          <td>
            <a href="/transactions/7afff2519bc0799dcc84da3f381021a71742df3c92defdf08049f26061b7e934">1742df3c92defdf08049f26061b7e934...</a>
          </td>
          <td>
            50 GAME
          </td>
        </tr>
        
        <tr class="latest-transactions-placeholder">
          <td>
            <a href="/transactions/121a12b85f1c487b08bc1a280ffd4ecfb66d1533a157918bf26565c3c6404a63">b66d1533a157918bf26565c3c6404a63...</a>
          </td>
          <td>
            50 GAME
          </td>
        </tr>
        
        <tr class="latest-transactions-placeholder">
          <td>
            <a href="/transactions/30b8776cec9781917f9de26702f3b9ad1a1e7e2188c0c28699b1265325e10f9f">1a1e7e2188c0c28699b1265325e10f9f...</a>
          </td>
          <td>
            50 GAME
          </td>
        </tr>
        
        <tr class="latest-transactions-placeholder">
          <td>
            <a href="/transactions/e154441c56be9c9b17d26e3c925d69ef2220b9bb72d189c93c6ac4eecc49d569">2220b9bb72d189c93c6ac4eecc49d569...</a>
          </td>
          <td>
            50 GAME
          </td>
        </tr>
        
        <tr class="latest-transactions-placeholder">
          <td>
            <a href="/transactions/389550407989449f9dac79476e1a7568daf8f7772defeb9bb1590968043a7224">daf8f7772defeb9bb1590968043a7224...</a>
          </td>
          <td>
            400 GAME
          </td>
        </tr>
        
        <script type="text/template" class="js-transaction-template">
          <tr>
            <td>
              <a href="/transactions/<%= txid %>"><%= txid_short %></a>
            </td>
            <td>
              <%= total %> GAME
            </td>
          </tr>
        </script>
      </table>
    </div>
  </div>
</div>
{% endblock %}
