{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h2>Transaction <small>View information about a GameCredits transaction</small></h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="{{ url_for('transaction_details', txid=transaction.txid) }}">
                {{ transaction.txid }}
            </a>
            <span class="pull-right"><i class="fa fa-calendar"></i> {{ transaction.time }}</span>
          </div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p><b>Inputs</b></p>
                    <ol class="list-unstyled">
                      {% if not transaction.vin %}
                      <li>No Inputs (Newly Generated Coins)</li>
                      {% endif %}
                      {% for input in transaction.vin %}
                      <li>{{ input.txid }}</li>
                      {% endfor %}
                    </ol>
                </div>
                <div class="col-md-6">
                    <p><b>Outputs</b></p>
                    <ul class="list-unstyled">
                      {% for output in transaction.vout %}
                      <li>Addresses: 
                        {% for addr in output.addresses %}
                          <a href="{{ url_for('address_details', identifier=addr)}}">{{ addr }}</a>,
                        {% endfor %} amount sent: {{ output.value }}</li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
          </div>
          <div class="panel-footer text-right">
              <b>Confirmations:</b> {{ transaction.confirmations }}, 
              <b>Total:</b> {{ transaction.total }} GAME
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Summary</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Blockhash</td>
                    <td>
                        {% if transaction.blockhash %}
                            <a href="{{ url_for('block_details', identifier=transaction.blockhash) }}">
                                {{ transaction.blockhash|truncate(32)}}
                            </a>
                        {% else %}
                            Not mined yet.
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Block time</td>
                    <td>
                        {{ transaction.blocktime or 'Not mined yet.'}}
                    </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>
                        {{ transaction.time or 'Not mined yet.'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}