<!DOCTYPE HTML>
<html>
<head>
    <title>BlockExplorer Development WebSocket</title>
</head>
<body>
  <div class="container">
    <h1>Block socket</h1>
    <h1 id="user_connected"></h1>

    <h3 id="blockConnected"></h3>
    <table class="table">
      <thead>
      <tr>
        <th>Height</th>
        <th>Age</th>
        <th>Transactions</th>
        <th>Total sent</th>
        <th>Size(kB)</th>
      </tr>
    </thead>
    <tbody id='blockTbody'>
    </tbody>
  </table>

  <h1>Transaction socket</h1>
  <h3 id="txConnected"></h3>
  <table class="table">
    <thead>
    <tr id="trID" style="top: 50px;">
      <th>Tx id</th>
      <th>Tx total</th>
    </tr>
  </thead>
  <tbody id='txTbody'>
  </tbody>
</table>

<h1>Price statistics socket</h1>
<h3 id="priceStatsConnected"></h3>
<table class="table">
  <thead>
    <tr id="priceID" style="top: 50px;">
      <th>Price in USD</th>
      <th>Price in BTC</th>
      <th>Percent change for USD</th>
      <th>Percent change for BTC</th>
      <th>Volume 24h</th>
      <th>Timestamp</th>      
    </tr>
  </thead>
  <tbody id='priceStatsTbody'>
  </tbody>
</table>
</div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            blockNamespace = '/block';
            txNamespace = '/tx';
            priceStatsNamespace = '/price-stats';

            var blockSocket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + blockNamespace);
            var txSocket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + txNamespace);
            var priceStatsSocket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + priceStatsNamespace);
            
            blockSocket.on('connect', function() {
                blockSocket.emit('block_connected');
            });

            blockSocket.on('block_response', function(data) {
               $('#blockConnected').text("User: " + data.block_data);
            });

            blockSocket.on('background_block_sender', function(msg) {
             
              $('#blockTbody').prepend(
                '<tr>' +
                '<td>' + msg.latest_block_data.height + '</td>'+
                '<td>' + msg.latest_block_data.time + '</td>'+
                '<td>' + msg.latest_block_data.tx.length + '</td>'+
                '<td>' + msg.latest_block_data.total + '</td>'+
                '<td>' + msg.latest_block_data.size + '</td>'+
                '</tr>'
              );
              console.log(msg);
            });


            txSocket.on('connect', function() {
                txSocket.emit('tx_connected');
            });

            txSocket.on('tx_response', function(data) {
               $('#txConnected').text("User: " + data.tx_data);
            });

            txSocket.on('background_tx_sender', function(msg) {
              $('#txTbody').prepend(
                '<tr>' +
                '<td>' + msg.latest_tx_data.txid + '</td>'+
                '<td>' + msg.latest_tx_data.total + ' GAME'+'</td>'+
                '</tr>'
              );
              console.log(msg);
            });

            priceStatsSocket.on('connect', function() {
              priceStatsSocket.emit('price_stats_connected');
            });

            priceStatsSocket.on('price_stats_response', function(data) {
               $('#priceStatsConnected').text("User: " + data.price_stats_data);
            });

            $('#priceStatsConnected').click(function(){
              priceStatsSocket.emit('price_stats_connected');
            });

            priceStatsSocket.on('background_price_stats_sender', function(msg) {

              $('#priceStatsTbody').prepend(
                '<tr>' +
                '<td>' + msg.latest_price_stats_data.priceUSD + '</td>'+
                '<td>' + msg.latest_price_stats_data.priceBTC + '</td>'+
                '<td>' + msg.latest_price_stats_data.percentChange24hUSD + '%' + '</td>'+
                '<td>' + msg.latest_price_stats_data.percentChange24hBTC + '%'+'</td>'+
                '<td>' + msg.latest_price_stats_data.volume24hUSD + '</td>'+
                '<td>' + msg.latest_price_stats_data.timestamp + '</td>'+
                '</tr>'
              );
              console.log(msg);
              console.log("Price stats:");  
            });
        });
    </script>
</body>
</html>
